/*---ALL---*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

header {
    background-color: #2196f3;
    width: 100%;
    height: 56px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 19px;
    top: 0;
    left: 0;
    position: fixed;
}

.icon {
    width: 24px;
}


/*---TEXT---*/

a {
    color: black;
}

h2 {
    color: white;
    margin-left: 20px;
    font-size: 20px;
}

h3 {
    font-size: 24px;
    padding-bottom: 14px;
}

p {
    font-size: 14px;
}


/*---MAIN---*/

main {
    padding-top: 76px;
}


/*---CARDS---*/

.card {
    width: 370px;
    width: calc(100% - 16px);
    min-height: 55px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.icon_thumbnail {
    height: 120px;
}

.card_text {
    margin-left: 16px;
    margin-top: 27px;
}

.icon_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
}


/*---NAVIGATION---*/

.fab {
    width: 50px;
    height: 50px;
    background-color: #ff1744;
    border-radius: 100px;
    bottom: 0;
    right: 0;
}


/*---NAVIGATION---*/

nav {
    width: 304px;
    height: 50vh;
    background-color: red;
}

.profile_icon {
    height: 64px;
    border-radius: 100px;
    margin-bottom: 41px;
}

.nav_header {
    color: white;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: url(../img/space.jpg);
    background-size: cover;
}

.nav_header_text {
    margin-left: 16px;
    margin-bottom: 20px;
}

.nav_header_img {
    margin-left: 16px;
}

.nav_list {
    height: 100%;
    width: 100%;
    background-color: pink;
}


/*---SCANNER---*/

#scanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scanner {
    height: 300px;
    width: 300px;
    background-color: #f21641;
    border-radius: 1000px;
    margin-top: 100px;
}

.scanner:hover {
    background-color: #76ff03;
}

.upload {
    min-height: 50px;
    width: 100%;
    background-color: #2196f3;
    color: white;
    bottom: 0;
    left: 0;
    position: fixed;
    padding: 24px;
}

.progress_bar {
    width: calc(100% - 48px);
    height: 2px;
    background-color: white;
}

.progress_bar_achieved {
    background-color: #ff8a80;
    width: 20%;
    height: 100%;
}

.paragraph_with_opacity {
    opacity: 54%;
}
